h1 {
    text-decoration-color: crimson
    }
body {
    background-color:ghostwhite ;
    box-sizing: border-box;
} 

#divcontainer {
    width: 100%;
}

#divbanner {
    background-image: url("/images/images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30%;
    width: 100%;
}

#divbanner > #sitetitle {
    color: yellow;
    font-size: 40px;
    padding-top: 15px;
}

#divbanner > #sitemotto {
    color: yellow;
    padding-bottom: 40px;
}

#divmenu {
    background-color: turquoise;
    padding: 5px;
}

#divcol-container {
    display:table;
}

#divsidebar {
    display:table-cell;
    background-color: cadetblue;
    border: 1px solid green;
}

#divsidebar > ul{
    list-style-type: none;
}

#divcontent {
    display:table-cell;
    vertical-align: top;
    border: 1px solid green;
}

#divfooter {
    background-color: rgb(15, 160, 145);
    text-align: center;
    border-radius: 5px;
}

#divfooter > p {
    padding: 5px;
    color: blue;
}
/*content style*/

#divcontent > :not(p) {  /*color all children except paragraphs*/
    background-color:lime;
}


#divcontent > p:not(#divcontent>p) {
    background-color: chocolate;
}

#divcontent > div ~ :not(p){
    color: red;
}

#divsidebar > ul > li:nth-child(2) > a  {
   color: red;
}